<nav nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aaf597;">
    <div class="container-fluid">
        <img src="../../../assets/img/redApple.png" alt="" width="23" height="25" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">HealthyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Meal
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">My Day Meals</a></li>
              <li><a class="dropdown-item" href="#">My Favorite Meals</a></li>
              <li><a class="dropdown-item" href="#">All Meals</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Exercise
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">My Exercises</a></li>
              <li><a class="dropdown-item" href="#">All Exercises</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Admin Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Products</a></li>
              <li><a class="dropdown-item" href="#">Meals</a></li>
              <li><a class="dropdown-item" href="#">Exercise</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- <div class="img">
    <img src="../../../assets/img/healthyAppMainLogo.png" alt="" class="src">
</div> -->