.example-container {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
  }

  .mat-table {
    overflow: auto;
  }

  button{
    margin: 10px;
  }

  .add{
    float: right;
  }

  .add:hover{
    background-color: limegreen;
  }

  a{
    text-decoration: none;
    color: blue;
  }

  a:hover{
    cursor: pointer;
  }
  
  h1{
    text-align: center;
  }

  @media only screen and (max-width: 451px) {
    .example-container {
      width: 100%;
      padding-left: 0;
    }

    mat-table{
      width: 100%;
    }

    .example-container{
      width:100%;
  
    }
    mat-row{
      width: 100%;
      padding-left: 4px;
    }

    mat-cell{
      font-size: 60%;
      display: table-cell;
      vertical-align:inherit;
    }
  
    .action-buttons{
      font-size: 100%;
      margin:5px;
      padding: 0;
    }
  
    ng-container{
      margin:1%;
    }
  
    .mat-column-title{
      font-size: 70%;
      text-align: left;
      padding-left: 3%;
      padding-right: 0;
    }
    .mat-column-magnifier{
      text-align: left;
      padding: 0;
      padding-right: 10px;
    }
  
    .mat-column-createdOn{
      font-size: 70%;
      text-align: left;
      padding-left: 3%;
    }
  
    .mat-column-modifiedOn{
      font-size: 70%;
      text-align: left;
      padding-left: 3%;
    }
  
    .mat-column-action{
      font-size: 70%;
      text-align: left;
      padding-left: 3%;
    }
  
    .cdk-column-action{
      text-align: center;
    }
  
    .mat-raised-button{
      text-align: center;
      margin:0;
      margin-top: 3%;
      margin-bottom: 3%;
      padding: 3%;
      padding-top: 0;
      padding-bottom: 0;
      align-self: center;
    }
  
    .cdk-header-cell{
      font-size: 60%;
    }
  
    .mat-button-base{
      font-size: 13px;
    }
  }
  