<div class="container-fluid" fxLayout="column" fxLayoutAlign="space-evenly center">
    <img src="../../../assets/img/healthyAppMainLogo.png" alt="" width="250" height="150" class="d-inline-block align-text-top">
    <div class="user-data">Welcome, {{getUserFullName()}}</div>
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Daily Calories Intake: <span style="color: rgb(90, 219, 4);">{{userDailyCaloriesIntake}}</span>
            </mat-panel-title>
            <mat-panel-description>
                What is Harris Benedict equation based on?
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>The Daily Calories Intake was determined using three methods.<br>
                In men, the Harris-Benedict equation formula used was:<br>
                BMR=66.4730 + 13.7516 x weight in kg + 5.0033 x height in cm – 6.7550 x age in years.<br>
                In women,<br>
                BMR=655.0955 + 9.5634 x weight in kg + 1.8496 x height in cm – 4.6756 x age in years.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>              
                Your BMI index is: <span style="color: rgb(90, 219, 4);">{{userBMI}}</span> 
            </mat-panel-title>
            <mat-panel-description>
                How BMI is calculated?
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Body Mass Index is a simple calculation using a person's height and weight.<br>
                The formula is BMI = kg/m2 where kg is a person's weight in kilograms<br>
                and m2 is their height in metres squared.<br>
                A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9.<br>
                BMI applies to most adults 18-65 years.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>              
                {{BMImessage}}
            </mat-panel-title>
            <mat-panel-description>
                What does Thats mean?
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="this.userBMI >= 18.5 && this.userBMI <= 24.9">
                You are doing great, keep it up, eat healthy and move more.</p>
            <p *ngIf="this.userBMI > 24.9">
                Being overweight increases the risk of a number of serious diseases and health conditions<br>
                - High blood pressure<br>
                - Higher levels of LDL cholesterol<br>
                - Lower levels of HDL cholesterol<br>
                - High levels of triglycerides<br>
                - Type II diabetes<br>
                - Coronary heart disease<br>
                - Stroke</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>