.footer-content{
    background: rgba(255, 255, 255, 0);
    background-size: auto auto;
    background-size: cover;
    margin: 0 auto;
  }
  h1{
    padding: 1px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin: auto;;
    text-align: center;
  }
  hr {
    border: 1.2px solid rgb(2, 2, 2);
    border-radius: 10px;
    margin: 0 auto;
  }
  .links {
    img {
        width: 3%;
        margin: 0px auto;
        padding: 10px;
  
        position:relative;
        transform:translateX(42vmax);
      }
  
  
    img:hover {
        background-color: rgba(61, 238, 220, 0.507);
    }
  }
  
  .innerLinks {
    cursor: pointer;
    width: 15%;
    font-size: auto;
    color: rgb(0, 0, 0);
    margin:0.3em 0.5em 0.3em 0.5em;
    padding: auto;
    border: 1px solid black;
    background-color: rgba(146, 138, 138, 0.418);
  }
  
  .innerLinks:hover {
    background-color: lightskyblue;
    color: black;
  }
  
  @media only screen and (max-width: 450px){
    h1, h3 {
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: white;
    }
    h1{
        font-size: 1em;
    }
    .innerLinks {
        width: 100px;
  
    transform: translate(10%, -50%);
  
    }
    .footer-content{
        object-fit: scale-down; max-width: 100%
    }
    .links {
      img {
          width: 5%;
          margin: 0px auto;
          padding: 10px;
  
          position:relative;
          transform:translateX(15vmax);
        }
      }
  }
  
  