<footer class="text-center">
    <hr size = "2px" width = "90%" color ="black">
    <div class="footer-content text-center">
        <br>
        <button class="innerLinks">
          <a (click)="getPrivacy()">Privacy Policy</a>
        </button>
        <button class="innerLinks">
          <a (click)="getTerms()">Terms of Use</a>
        </button>
        <button class="innerLinks">
          <a (click)="getFAQ()">FAQ</a>
        </button>
        <br />
        <br>
        <h1 id="project-name">
          2022 | Healthy App v 1 | chiborator® | All rights reserved!
        </h1>
        <br>
    </div>
</footer>