<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div *ngIf="myForm.get('title')?.touched && myForm.get('title')?.errors?.['required']" class="alert alert-danger">
                    Title field is required!
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" formControlName="author">
                </div>
                <div *ngIf="myForm.get('author')?.touched && myForm.get('author')?.errors?.['required']" class="alert alert-danger">
                    Author field is required!
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Url</label>
                    <input type="text" class="form-control" formControlName="url">
                </div>
                <div *ngIf="myForm.get('url')?.touched && myForm.get('url')?.errors?.['required']" class="alert alert-danger">
                    Url field is required!
                </div>             
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
